body {
  padding-top: 50px;
  background: #c1b5ad;
  font-family: 'Varela Round', sans-serif;
  min-width: -webkit-min-content; }

#app {
  border-left: 2px solid #b1a398;
  border-right: 2px solid #b1a398; }

.navbar-inverse {
  background: #736357;
  border-color: #564a41; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #a8c9dd; }

.navbar-inverse .navbar-brand {
  padding: 12px 15px;
  white-space: nowrap; }
  .navbar-inverse .navbar-brand .glyphicon {
    font-size: 1.2em;
    margin-right: 5px; }
  .navbar-inverse .navbar-brand > span {
    display: inline-block;
    vertical-align: middle; }

.navbar-inverse .navbar-nav > .active > a {
  box-shadow: inset 0 0 10px #473e36;
  background: #64574c;
  color: #cde0eb; }
  .navbar-inverse .navbar-nav > .active > a:hover {
    background: #564a41;
    box-shadow: inset 0 0 10px #39312b;
    color: #fff; }

#map-canvas {
  height: calc(100vh - 50px);
  border-right: 2px solid #b1a398;
  border-bottom: 2px solid #b1a398;
  border-left: 2px solid #b1a398; }

@media (min-width: 768px) {
  #map-canvas {
    border-bottom: none;
    border-left: none; }
  .map-container {
    padding: 0; }
    .map-container > div {
      position: fixed;
      width: inherit; } }

#control-panel {
  padding: 0;
  box-sizing: border-box; }
  #control-panel > div {
    margin: 20px 0;
    min-width: -webkit-min-content; }

select {
  width: calc(100% - 25px);
  -webkit-appearance: menulist-button; }

.btn-primary {
  background: #5f9bc0;
  border-color: #5797bd; }
  .btn-primary:hover {
    background: #4283aa;
    border-color: #3f7da2; }

h4 {
  color: #aaa;
  margin-top: 0; }

h3 {
  color: #64574c;
  text-align: center;
  margin-top: 0; }

.btn-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 42%; }

.day-btn {
  border-width: 2px;
  width: 30px;
  height: 30px;
  padding: 5px 5px;
  background: transparent;
  border-color: #a8c9dd;
  color: #a8c9dd; }
  .day-btn:hover {
    border-color: #fff;
    color: #fff; }
  .day-btn.current-day {
    background: #a8c9dd;
    color: #736357; }
    .day-btn.current-day:hover {
      background: #fff; }

.panel-default {
  background: #efecea;
  border-radius: 8px;
  border-width: 0;
  margin-bottom: 0; }
  .panel-default .panel-heading {
    background: #736357;
    border-radius: 8px 8px 0 0; }
  .panel-default .panel-body {
    padding: 5px 15px; }
    .panel-default .panel-body > div {
      margin-top: 20px;
      margin-bottom: 20px; }

.itinerary-item {
  margin: 8px 0; }
  .itinerary-item > * {
    display: inline-block;
    vertical-align: middle; }
  .itinerary-item > .title {
    width: calc(100% - 24px); }
  .itinerary-item > .remove {
    width: 20px; }

#day-title {
  display: inline-block;
  padding: 5px;
  border: 1px solid #736357;
  border-radius: 5px; }
  #day-title > * {
    display: inline-block;
    vertical-align: middle; }
  #day-title > .remove {
    margin-left: 1em; }

.btn {
  outline: none !important; }
